@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,700;1,400&family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background:rgb(238, 238, 243);
}
.topnav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #5F6CAF;
    height: 4rem;
}

.searchandlinks {
    display:flex;
    flex-direction: row;
    align-content:center;

}

.search {
    border:solid 3px #5F6CAF;
    border-radius: .5rem;
    box-sizing:border-box;
    font-size:.8em;
    margin-right: 2rem;
    align-content:center;
    outline:solid #fc0 0;
    padding:.5em;
    width:20vw;
    z-index:1;
    color:lightgrey;
  }

.bell {
    color:#fff;
    font-size: 1rem;
    margin: .5rem 2rem 0 1rem;
}

.chat {
    color:#fff;
    font-size: 1rem;
    margin: .5rem 2rem 0 1rem;
}

.settings {
    color:#fff;
    font-size: 1rem;
    margin: .5rem 2rem 0 1rem
}

.user {
    border: solid 1px lightgrey;
    background: lightgrey;
    width:2.3rem;
    height:2.3rem;
    border-radius:50%;
    padding: .5rem .4rem .6rem .6rem;
    color:black;
    font-size: 1rem;
    margin: 0rem 1.5rem 0 1rem;
}

.logo {
    height:2rem;
    margin-left: .8rem;
}

.logo2 {
    height:1.6rem;
    margin: .2rem 0 0rem 1.4rem;
}

.logocontainer {
    display:flex; 
    flex-direction: row;
}

.travel {
    font-family: 'Arimo', sans-serif;
    font-size:.6rem;
    color:white;
    padding: 0;
    margin:0;
}

.wetbat {
    margin:0;
    color:white;
    font-family: 'Fraunces', serif;
    font-size:1.2rem;
    padding:0;
}

.searchicon {
    margin: .5rem .3rem 0 0;
    color:white;
}
.aside {
    display:flex;
    flex-direction: column;
    height: 55rem; 
    background-color: rgb(221, 221, 221); 
    width:50rem;
}

.asidebutton {
    padding:1rem;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    text-decoration: none;
    color:  #5F6CAF;
    font-family: 'Arimo', sans-serif;
    font-size: .8rem;
}
.asidebutton:hover {
    background: #b7bfe9;
}
.asidebutton:active {
    background: #b8c3fa;
}


.asideicon {
    font-size:1.2rem;
    margin-right: .3rem;
    margin-left:.7rem;
}

.tours, .support {
    border-bottom: solid 1px rgb(165, 162, 162);
}

.copyright {
    margin-top:3rem;
    font-size:.8rem;
    text-align: center;
}

.container2 {
    display:flex;
}

.dashboardcontainer {
    display:flex;
    flex-flow: column wrap;
    flex-grow:1;
    flex-shrink:1;
}

.dashboard {
    display:flex;
    justify-content: space-between;
    margin: 1.5rem 1.5rem 0rem 1.5rem;
    width:fit-content;
    height:25rem;
    background: linear-gradient(to right, #5bbfba 0%, #5f6caf 100%);
    border-radius: .5rem;
    color:white;
    font-family: 'Arimo', sans-serif;
    height:fit-content;
}

.dashboardtext {
    width:40%;
    margin: 1.5rem 0 0 1.5rem;
}

.dashboardtitle {
    font-size: 2.5rem;
    margin-bottom:1rem;
}

.dashboardparagraph {
    font-size: .9rem;
    margin-bottom:1rem;
    font-family: 'Roboto', sans-serif;
}

.statscontainer {
    width:60%;
}

.officeimg {
    width:20rem;
    margin: 0 0 0 14rem;
    padding:0;
}

.stats {
    display:flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    width:85%
}

.stats div {
    display:flex;
    flex-direction: row;
    ;

} 
.newleadsnum, .quotescreatednum, .pendingordersnum{
    font-size:3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#F0CF85;

}
.newleads, .quotescreated, .pendingorders{
    font-family: 'Arimo', sans-serif;
    margin:.6rem 2rem 0 .2rem;
    width:5rem;
    font-size:1.3rem;
}

.quickquotecontainer {
    display:flex;
    flex-flow:column wrap;
    width:24rem;
    margin:1.5rem;
    background:white;
    border-radius: .5rem;

}
.quickquoteform {
    display:flex;
    flex-flow:row wrap;
}
.quickquoteform input {
    margin:.5rem;
    width:45%;
    padding: 0 .5rem 1.8rem 0;
    border:none;
    background: rgb(244, 244, 250);
}

.quickquotetitle {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
}

.fastforward {
    font-size:1.6rem;
    color:#5BBFBA;
    margin-left:1rem;
    margin-right:1rem;
    padding-top:.5rem;
}

.quickquotesubmit {
    background:#5BBFBA;
    margin:.5rem;

    border:none;
    justify-content: center;
    padding:.9rem;
    border-radius:2rem;
    width:45%;
}

.expandicon {
    color:lightgrey;
    justify-content: end;
}