@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,700;1,400&family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background:rgb(238, 238, 243);
    font-size:16px;
}
.topnav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #5F6CAF;
    height: 4rem;
    width:auto;
}

.searchandlinks {
    display:flex;
    flex-direction: row;
    align-content:center;
    
}

.search {
    border:solid 3px #5F6CAF;
    border-radius: .5rem;
    box-sizing:border-box;
    font-size:.8em;
    margin-right: 2rem;
    align-content:center;
    outline:solid #fc0 0;
    padding:.5em;
    width:20vw;
    z-index:1;
    color:lightgrey;
  }

.bell, .chat, .settings {
    color:#fff;
    font-size: 1rem;
    margin: .5rem 2rem 0 1rem;
}
.user {
    border: solid 1px lightgrey;
    background: lightgrey;
    width:2.3rem;
    height:2.3rem;
    border-radius:50%;
    padding: .5rem .4rem .6rem .6rem;
    color:black;
    font-size: 1rem;
    margin: 0rem 1.5rem 0 1rem;
}

.logo {
    height:2rem;
    margin-left: .8rem;
}

.logo2 {
    height:1.6rem;
    margin: .2rem 0 0rem 1.4rem;
}

.logocontainer {
    display:flex; 
    flex-direction: row;
}

.travel {
    font-family: 'Arimo', sans-serif;
    font-size:.6rem;
    color:white;
    padding: 0;
    margin:0;
}

.wetbat {
    margin:0;
    color:white;
    font-family: 'Fraunces', serif;
    font-size:1.2rem;
    padding:0;
}

.searchicon {
    margin: .5rem .3rem 0 0;
    color:white;
}
.aside {
    display:flex;
    flex-direction: column;
    height: 55rem; 
    background-color: rgb(221, 221, 221); 
    width:auto;
    position: -webkit-sticky;
    position:sticky;
    top:0;
}

.asidebutton {
    padding:1rem;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    text-decoration: none;
    color:  #5F6CAF;
    font-family: 'Arimo', sans-serif;
    font-size: .8rem;
}
.asidebutton:hover {
    background: #b7bfe9;
}
.asidebutton:active {
    background: #b8c3fa;
}


.asideicon {
    font-size:1.2rem;
    margin-right: .3rem;
    margin-left:.7rem;
}

.tours, .support {
    border-bottom: solid 1px rgb(165, 162, 162);
}

.copyright {
    margin-top:3rem;
    font-size:.8rem;
    text-align: center;
}

.container2 {
    display:flex;
    flex-direction: row;
}

.dashboardcontainer {
    display:grid;
    grid-template-rows: 1fr;
    gap:1.5rem;
    flex-flow: row wrap;
    align-content:flex-start;
    justify-content: space-evenly;
    justify-content: left;
}

.dashboard {
    display:grid;
    margin:1.5rem 1.5rem 0 1.5rem;
    height:25rem;
    background: linear-gradient(to right, #5bbfba 0%, #5f6caf 100%);
    border-radius: .5rem;
    color:white;
    font-family: 'Arimo', sans-serif;
    height:fit-content;
}
.row2 {
    display:grid;
    grid-template-columns: 4fr 4fr 3fr;
    gap:1.5rem;
    margin:0 1.5rem;
}
.row3 {
    display:grid;
    grid-template-columns: 8fr 3fr;
    gap:1.5rem;
    margin:0 1.5rem;

}
.row4 {
    display:grid;
    grid-template-columns: 4fr 4fr 3fr;
    gap:1.5rem;
    margin:0 1.5rem 3rem 1.5rem;

}

.dashboardtext {
    margin: 1.5rem 0 0 1.5rem;
}

.dashboardtitle {
    font-size: 2.5rem;
    margin-bottom:1rem;
}

.dashboardparagraph {
    font-size: .9rem;
    margin-bottom:1rem;
    font-family: 'Roboto', sans-serif;
}

.statscontainer {
    width:60%;
}

.officeimg {
    width:20rem;
    margin: 0 0 0 14rem;
    padding:0;
}

.stats {
    display:flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    justify-content: space-between;
    width:85%
}

.stats div {
    display:flex;
    flex-direction: row;
    ;

} 
.newleadsnum, .quotescreatednum, .pendingordersnum{
    font-size:3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#F0CF85;

}
.newleads, .quotescreated, .pendingorders{
    font-family: 'Arimo', sans-serif;
    margin:.6rem 2rem 0 .2rem;
    font-size:1.3rem;
}

.quickquotecontainer {
    display:grid;
    background:white;
    border-radius: .5rem;   
    height:25rem;
}
.quickquoteform {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}
.quickquoteform input {
    margin:.5rem;
    margin-top:1rem;
    width:45%;
    font-size:1rem;
    height:3.8rem;
    padding: auto 0 auto 1rem;
    padding-left:1rem;
    border:none;
    background: rgb(244, 244, 250);
}

.quickquoteform select {
    margin:.5rem;
    margin-top:1rem;
    width:45%;
    font-size:1rem;
    height:3.8rem;
    padding: auto 0 auto 1rem;
    padding-left:1rem;

    border:none;
    background: rgb(244, 244, 250);
}

.quickquoteform input:focus {
    outline:none;
}

.quickquotetitle {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    height:3rem;

}

.fastforward, .envelope, .paperplane {
    font-size:1.6rem;
    color:#5BBFBA;
    margin-left:1rem;
    margin-right:1rem;
    padding-top:.5rem;
}

.quickquotesubmit {
    background:#5BBFBA;
    margin:.5rem;
    font-family: 'Arimo', sans-serif;
    color:white;
    font-size:1.3rem;
    border:none;
    justify-content: center;
    padding:.9rem;
    border-radius:2rem;
    width:45%;
    cursor:pointer;
}

.quickquotesubmit:hover {
    background:#7de7e2;
}
.quickquotesubmit:focus {
    outline:none;}
.expandicon, .sync ,.ellipsis {
    color:lightgrey;
    justify-content: end;
    margin:.5rem 1rem 0 0;
}

.pendingquotescontainer {
    display:flex;
    flex-flow:row wrap;
    align-content: flex-start;
    background:white;
    border-radius: .5rem;
    height:25rem;
    overflow:hidden;

}

.pendingquotesheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;
}
.pendingquoteslink {
    text-decoration: none;
    color:  #636fa8;


}
.spinner {
    font-size:1.6rem;
    color:#5BBFBA;
    margin-left:1rem;
    margin-right:1rem;
    padding-top:.5rem;
}

.quotestable {
    display:table;
    margin:.5rem;
    text-align: start;
    font-family: 'Arimo', sans-serif;
    width:100%;
}
.quotestable tr:hover {
    background:#f0f0f0;
}

.quotestable thead tr:first-child:hover {
    background:white;
}

.quotestabel th, td {
  padding: 0.2rem;
  font-family: 'Roboto', sans-serif;

}

.quotestable th {
    text-align: left;
}

.newleadscontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:25rem;
    overflow:hidden;
    align-content: flex-start;

}

.newleadsheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;
}

.listelement {
    display: flex;
    flex-direction: row;
    padding:.2rem 0 .1rem .7rem;
    width:100%;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
    border-bottom: solid 1px rgb(236, 236, 236);

}

.listelement:hover{
    background:  #f0f0f0;

}

.newleadslist {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.listelement div {
    display:flex;
    flex-direction: row;

}

.newleadsuser {
    border: solid 1px lightgrey;
    background: lightgrey;
    width:2.3rem;
    height:2.3rem;
    border-radius:2rem;
    padding: .3rem .4rem .6rem .6rem;
    color:black;
    font-size: 1rem;
    margin: 0rem .5rem 0 .3rem;
}

.comment {
    font-size:2rem;
    color:#5BBFBA;
    margin-left:1rem;
    margin-right:1rem;
    padding-top:.5rem;

}

.populardestinationscontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:25rem;
    overflow:hidden;
    align-content: flex-start;
}

.worldmap {
    margin:2rem 0 0 2rem;
    width:50%;
    height:75%;
}

.popularlist {
    display:flex;
    flex-direction: row;
    width: 100%;
    
}

.popularlistelement {
    display: flex;
    flex-direction: row;
    border:none;
    height:4.3rem;
    padding:1rem;
    width:100%;
    padding-bottom:.5rem;
    padding-top:.5rem;
    font-family: 'Roboto', sans-serif;
    border-right: solid 1px rgb(236, 236, 236);
    padding:.2rem 0 .1rem .7rem;
    width:100%;
    font-size:1.2rem;
    justify-content: space-between;

}
.popularlistelement p {
    width:8rem
}
.popularlistelement div {
    display: flex;
    flex-direction: row;
    align-self:center;

}
.popularlist {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:40%;
}

.popularbutton1 {
    width:3rem;
    height:.7rem;
    align-self:center;
    margin-left:2rem;
    border:none;
    background:#5BBFBA;
    border-radius:.1rem;
}

.popularbutton2 {
    width:8rem;
    height:.7rem;
    align-self:center;
    margin-left:2rem;
    border:none;
    background:#E7F0C3;
    border-radius:.1rem;
}

.popularbutton3 {
    width:6rem;
    height:.7rem;
    align-self:center;
    margin-left:2rem;
    border:none;
    background:#F0CF85;
    border-radius:.1rem;
}

.popularbutton4 {
    width:4rem;
    height:.7rem;
    align-self:center;
    margin-left:2rem;
    border:none;
    background:#A4D4Ae;
    border-radius:.1rem;
}

.popularbutton5 {
    width:10rem;
    height:.7rem;
    align-self:center;
    margin-left:2rem;
    border:none;
    background:#5F6CAF;
    border-radius:.1rem;
}

.teamchatcontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:25rem;
    overflow:hidden;
    align-content: flex-start;

}

.teamchatsuser {
    border: solid 1px lightgrey;
    background: lightgrey;
    width:2.3rem;
    height:2.3rem;
    border-radius:.3rem;
    padding: .2rem .4rem .6rem .6rem;
    color:black;
    font-size: 1rem;
    margin: 0rem .5rem 0 .3rem;
}

.revenuecontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:15rem;
    overflow:hidden;
    align-content: flex-start;

}

.revenueheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;
}

.revenuechart {
    width: 100%;
    height:90%
}

.potentialrevenuecontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:15rem;
    overflow:hidden;
    align-content: flex-start;

}

.potentialrevenueheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;
}

.piechartcontainer {
    display: flex;
    justify-content: space-evenly;
    margin-top:1.5rem;
}

.piechart {
    width: 25%;
}

.piechart1 {
    width: 25%;
    transform:rotate(150deg)

}

.piechart2 {
    width: 25%;
    transform:rotate(60deg)
}

.closeratiocontainer {
    display:flex;
    flex-flow:row wrap;
    background:white;
    border-radius: .5rem;
    height:15rem;
    overflow:hidden;
    align-content: flex-start;
}

.closeratioheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;

}

.closeratioimg {
    margin:1.5rem auto 0 auto;
}

.quotelistcontainer {
    display:grid;
    flex-flow:row wrap;
    width:100%;
    background:white;
    border-radius: .5rem;
    height:max-content;
    overflow:hidden;
    align-content: flex-start;
    margin:1.5rem;
}

.quotelistheader {
    display:flex;
    justify-content:space-between;
    font-family: 'Arimo', sans-serif;
    font-size:1.3rem;
    padding-top:.5rem;
    padding-bottom: .5rem;
    color:  #636fa8;
    border-bottom: solid 1px rgb(236, 236, 236);
    width:100%;
    height:3rem;
}
.quotelist {
    margin: 1rem;
    font-family: 'Roboto', sans-serif;

}
.quotelist th, td {
    padding:1rem;
    margin:1.5rem;
}

.quotelist tr:hover {
    background:  #f0f0f0;
    outline:none
}
.quotelist thead tr:first-child:hover {
    background: white;
    outline:none
}

@media (max-width: 768px) {
    .row2, .row3, .row4, .dashboardcontainer, .quotelistcontainer {
        grid-template-columns: 1fr;
    }
    .topnav{
        width:100%;
    }
    .aside {
        flex-direction: row;
        height:4rem;
        display:hidden;
    }
    .asidebutton{
        width:auto;
    }
    .copyright{
        display:none;
    }
    .container2{
        flex-direction: column;
    }
    .container{
        display: grid;
        width:auto;
    }
}
@media(max-width:500px){
    .row2, .row3, .row4, .dashboardcontainer, .quotelistcontainer {
        grid-template-columns: 1fr;
    }
    .topnav{
        width:100%;
    }
    .aside {
        flex-direction: row;
        height:4rem;
        display:hidden;
    }
    .asidebutton{
        width:auto;
    }
    .copyright{
        display:none;
    }
    .container2{
        flex-direction: column;
    }
    .container{
        display: grid;
        width:auto;
    }
    .dashboardparagraph {
        font-size: 1.5rem;
    }
    .quickquotecontainer{
        height:auto;
    }
    .quickquoteform{
        display:grid;
        grid-template-columns: 1fr;
    }
    .quickquoteform input, .quickquoteform select, .quickquotesubmit{
        width:auto;
        font-size:2rem;
        height:4rem;
    }
    .topnav{
        height:8rem;
    }
    .search, .logo2, .wetbat, .travel, .populardestinationscontainer, .newleadscontainer, .teamchatcontainer, .revenuecontainer, .potentialrevenuecontainer, .closeratiocontainer, .statscontainer, .aside{
        display:none;
    }
    .logo{
        height:5rem;
        margin-left:3rem;
    }
}